@use 'base/variables';
@use 'blocks/promo';
@use 'blocks/header';
@use 'blocks/buttons';

* {
    font-family: 'Myseo Sans Cyrl', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 950px;
}