@use 'base/variables';
@use 'base/animations';
@use 'blocks/promo';
@use 'blocks/title';
@use 'blocks/header';
@use 'blocks/buttons';
@use 'blocks/advantages';
@use 'blocks/consultation';
@use 'blocks/forms';
@use 'blocks/carousel';
@use 'blocks/catalog';
@use 'blocks/response';
@use 'blocks/footer';
@use 'blocks/modal';
@use 'blocks/pageup';

* {
    font-family: 'Myseo Sans Cyrl', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 950px;

}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 800px;
    }
}