@use '../base/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 91px;

    &__logo {
        width: 250px;

        img {
            width: 100%;
        }
    }

    &__official {
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;

        span {
            display: block;
            margin-top: 7px;
            font-size: 18px;
            line-height: 29px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__phone {
        display: block;
        margin-bottom: 4px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    }

    @media screen and (max-width: 820px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    @media screen and (max-width: 700px) {
        flex-direction: column;
        margin-bottom: 65px;

        &__official {
            display: none;
        }

        &__logo {
            margin-bottom: 25px;
            // width: 350px;
        }

        &__contacts {
            align-items: center;
        }

        &__phone {
            font-size: 28px;
            margin-bottom: 15px;
        }
    }

    @media screen and (max-width: 470px) {
        &__logo {
            width: 250px;
        }
    }
}